<div class="container">
  <app-header></app-header>
  <div class="music-list-container">
    <div class="grid-title">
      <div class="grid-item photo">Cover Photo</div>
      <div class="grid-item order">Order</div>
      <div class="grid-item name">Song Name</div>
      <div class="grid-item artist">Artist</div>
      <div class="grid-item album">Album</div>
    </div>
    <app-music-card
      *ngFor="let item of showList;
       let i = index"
      [musicDetail]="item"
      [topOrder] ="i"
      (currentIndex)="playingIndex($event)"
    ></app-music-card>
  </div>
</div>
