.container {
  width: 230px;
  height: 100%;
  padding: 24px 0 0 0;
  background-color: black;
  box-sizing: border-box;
  position: fixed;
  .nav-bar.logo {
    width: 131px;
    height: 40px;
    padding: 0 0 18px 24px;
    box-sizing: border-box;
    a {
      color: white;
      text-decoration: none;
    }
    .svg {
      fill: white;
    }
  }
  .nav-bar.group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    box-sizing: border-box;
    .nav-bar.item {
      display: flex;
      justify-content: start;
      align-items: center;
      color: white;
      width: 180px;
      height: 32px;
      padding: 0 24px;
      margin: 8px 0;
      box-sizing: border-box;
      &[isActice="true"]{
        border-left: rgb(30,215,96) solid 5px;
      }
      a {
        font-size: 16px;
        color: white;
        margin-left: 16px;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
