<div class="container">
  <app-header></app-header>
  <div class="section">
    <div class="group">
      <div class="title">Made for you</div>
      <div class="card-group">
        <app-music-card *ngFor="let item of newHitsPlaylist"
                        [imgSrc]="item.images[0]['url']"
                        [playlistID]="item.id"
                        [title]="item.title"
                        [description]="item.description"
        ></app-music-card>
      </div>
    </div>
    <div class="group">
      <div class="title">What's new</div>
    </div>
    <div class="group">
      <div class="title">What's hot</div>
    </div>
  </div>
</div>

<div id="player"></div>
