<div class="container">
  <app-header></app-header>
  <mat-tab-group (focusChange)="getTopList($event)">
    <mat-tab label="Comprehensive" >
      <div *ngTemplateOutlet="playlist"></div>
    </mat-tab>
    <mat-tab label="Chinese">
      <div *ngTemplateOutlet="playlist"></div>
    </mat-tab>
    <mat-tab label="English">
      <div *ngTemplateOutlet="playlist"></div>
    </mat-tab>
    <mat-tab label="Korea">
      <div *ngTemplateOutlet="playlist"></div>
    </mat-tab>
    <mat-tab label="Japan">
      <div *ngTemplateOutlet="playlist"></div>
    </mat-tab>
  </mat-tab-group>
</div>
<ng-template #playlist>
  <div class="music-list-container">
    <div class="grid-title">
      <div class="grid-item">Cover Photo</div>
      <div class="grid-item">Top</div>
      <div class="grid-item">Song Name</div>
      <div class="grid-item">Artist</div>
      <div class="grid-item">Album</div>
    </div>
    <app-music-card
      *ngFor="let item of showList;
       let i = index"
      [musicDetail]="item"
      [topOrder] ="i"
      (currentIndex)="playingIndex($event)"
      [ngClass]="{'active': i === currentPlayingIndex}"
    ></app-music-card>
  </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</ng-template>


