.container {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  .name {
    position: absolute;
    bottom: -28px;
    font-size: 20px;
  }
  .shadow-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .4;
    transition: opacity .5s ease-in-out;
    border-radius: 10px;
    &:hover {
      opacity: 0;
    }
  }
  &[bgColor="pink"]{
    background-color: #FF8973;
  }
  &[bgColor="gblue"] {
    background-color: #86D1C3;
  }
  &[bgColor="gbluedark"] {
    background-color: #3F7EA1;
  }
  &[bgColor="blue"] {
    background-color: #5EC1F2;
  }
  &[bgColor="purple"] {
    background-color: #4E69B5;
  }
  &[bgColor="red"] {
    background-color: #ED646D;
  }
  &[bgColor="yellow"] {
    background-color: #FFD154;
  }
  &[bgColor="orange"] {
    background-color: #ED6300;
  }
}

