.container {
  height: 80px;
  padding: 16px 48px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  & > * {
    padding: 15px;
  }
  .search-panel {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 360px;
    height: 40px;
    box-sizing: border-box;
    background: white;
    overflow: hidden;
    fa-icon::ng-deep{
      svg{
        path {
          color: #333;
        }
      }
    }
    & > * {
      padding: 10px;
    }
    input {
      width: 100%;
      outline: none;
      border: 0;
    }
  }
}
