:host {
  width: 100%;
  .container {
    width: 100%;
    height: 100%;
    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 10%;
      height: 270px;
      .item {
        cursor: pointer;
        width: 240px;
        height: 240px;
        display: flex;
        flex-direction: column;
        border-radius: 120px;
        align-items: center;
        align-self: flex-end;
        justify-content: center;
        position: relative;
        animation-duration: 3s;
        animation-iteration-count: 5;
        animation-name: bounce-6;
        animation-timing-function: ease;
        &:first-child {
          margin-right: 20%;
        }
        .item-name {
          margin-top: 16px;
        }
        &[bgColor="gbluedark"] {
          background-color: #31647F;
        }
        &[bgColor="blue"] {
          background-color: #56B1DE;
        }
        &[bgColor="purple"] {
          background-color: #455EA0;
        }
        .shadow-overlay {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #282828;
          opacity: .4;
          transition: opacity .5s ease-in-out;
          border-radius: 120px;
        }
        .shadow-overlay:hover {
          opacity: 0;
        }
      }
    }
  }
}

@keyframes bounce-6 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
