<div class="container">
  <app-header></app-header>
  <div class="content">
    <div class="item">
      <fa-icon [icon]="faUser" size="4x"></fa-icon>
      <div class="item-name">User Info</div>
    </div>
    <div class="item">
      <fa-icon [icon]="faUser" size="4x"></fa-icon>
      <div class="item-name">Daily Recommend</div>
    </div>
    <div class="item">
      <fa-icon [icon]="faUser" size="4x"></fa-icon>
      <div class="item-name">User Playlist</div>
    </div>
    <div class="item">
      <fa-icon [icon]="faUser" size="4x"></fa-icon>
      <div class="item-name"></div>
    </div>
  </div>
</div>
