:host {
  height: 36vw;
  .container {
    width: 300px;
    min-height: 370px;
    height: 100%;
    border: solid #666 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    .chat-header {
      width: 100%;
      height: 48px;
      padding: 8px;
      background-color: #282828;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      .title {
        padding-left: 8px;
        color: #aaaaaa
      }
      .comment-group {
        margin-left: auto;
        display: flex;
        align-items: center;
        fa-icon::ng-deep {
          margin-right: 10px;
          padding-top: 5px;
          box-sizing: border-box;
          svg {
            path {
              fill: #aaa;
            }
          }
        }
      }
    }
    .chat-content {
      overflow-y: scroll;
      height: 100%;
      box-sizing: border-box;
      .message {
        display: flex;
        padding: 8px;
        .text[color='yellow']:before{
          color: #EDBF47;
        }
        .text[color='green']:before{
          color: #6FC190;
        }
        .text[color='red']:before{
          color: #E16C6C;
        }
        .text[color='orange']:before{
          color: #EC774B;
        }
        .text[color='purple']:before{
          color: #C389CE;
        }
        .text[color='blue']:before{
          color: #74CEE4;
        }
        .text {
          color: #aaa;
        }
        .text:before {
          content: attr(name);
          font-weight: bold;
        }

      }
    }
    .chat-content::-webkit-scrollbar {
      background-color: #161616;
    }
    .chat-content::-webkit-scrollbar-thumb {
      background-color: #333;
    }
    .chat-bottom {
      box-sizing: border-box;
      background-color: #282828;
      height: 80px;
      display: flex;
      align-items: center;
      .chat-panel {
        padding: 12px;
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        fa-icon {
          color: white;
        }
        fa-icon:hover {
          cursor: pointer;
        }
        .in{
          position: relative;
          width: calc(100% - 24px);
          input{
            width: calc(100% - 24px);
            padding: 4px;
            background-color: #282828;
            border: 0;
            border-bottom: 2px solid #666 ;
            color: #aaaaaa;
            box-sizing: border-box;
          }
          input:focus {
            outline: none;
          }
          .border-in {
            display: block;
            height: 2px;
            width: calc(100% - 24px);
            top:23px;
            position: absolute;
            background: #2bcfff;
            transform: scaleX(0);
            transition: transform 0.5s;
            box-sizing: border-box;
          }
          input:focus + .border-in, .in:focus .border-in {
            transform: scaleX(1);
          }


        }

      }
    }
  }
  @media (max-width: 1250px) {
    margin-top: 30px;
    width: calc(100vw - 280px);
    .container {
      width: 100%;
      min-height: 330px;
    }
  }

  @media (max-width: 720px) {
    width: calc(100vw - 110px);
    .container {
      width: 100%;
      min-height: 200px;
    }
  }
}
