:host{
  width: 100%;
  height: 100%;
  .new-whisper {
    width: 160px;
    height: 40px;
    background-color: #4184c5;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    border: 0;
    margin: 24px;
    cursor: pointer;
    &:hover {
      background-color: #4174bb;
    }
    &:focus {
      outline: none;
    }
  }
  .container {
    padding-top: 50px;
    display: flex;
    width: 100%;
    max-width: 1380px;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    .comment-container {
      position: relative;
      width: 800px;
      height: 600px;
      overflow: hidden;
      box-sizing: border-box;
      .typewriter {
        position: relative;
        width: 100%;
        height: 100%;
        font-family: Courier, monospace;
        overflow: hidden;
        display: flex;
        line-height: 45px;
        background: black;
        .typewriter-text {
          position: absolute;
          top: 100px;
          margin-left: 120px;
          display: block;
          overflow: hidden;
          letter-spacing: 2px;
          animation: typing 8s steps(30, end),
          blink 500ms steps(40) infinite normal;
          border-right:  2px solid snow;
          white-space: nowrap;
          font-size: 30px;
          font-weight: 700;
          box-sizing: border-box;
          color: white;
        }
        .complete-text {
          margin: 100px auto 0 auto ;
          font-size: 24px;
          font-weight: 600;
          color: #ccc;
          animation: showLetter 1s;
        }
      }


      .comment-overlay {
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        .cmt {
          font-size: 3em;
          color: limegreen;
          position: absolute;
          width: 100%;
          height: 100%;
          top:60px;
          margin: 0;
          line-height: 50px;
          text-align: center;
          transform:translateX(100%);
          animation: cmtPath 15s linear infinite;
        }
        .cmt[color='yellow']{
          color: #EDBF47;
        }
        .cmt[color='green']{
          color: #6FC190;
        }
        .cmt[color='red']{
          color: #E16C6C;
        }
        .cmt[color='orange']{
          color: #EC774B;
        }
        .cmt[color='purple']{
          color: #C389CE;
        }
        .cmt[color='blue']{
          color: #74CEE4;
        }
      }
    }

  }

}
@keyframes cmtPath {
  0%   {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes typing {
  0%{
    width: 0;
  }
  60% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  90% {
    width: 0;
  }
}

@keyframes blink {
  from {
    border: 0;
  }
  to {
    border: 2px;
  }
}

@keyframes showLetter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
