<app-header></app-header>
<div class="tipsBar">
  <div class="tips">Next: </div><div>{{nextWhisperTip}}</div>
  <button *ngIf="isDesktop" class="new-whisper" (click)="createWhisper()">Create new whisper</button>
  <button *ngIf="!isDesktop" class="new-whisper" (click)="createWhisper()" style="width: 80px">Create</button>
</div>

<div class="container">

  <div class="comment-container">
    <div class="typewriter" #board>
      <div class="typewriter-text">{{text}}</div>
      <div class="complete-text" [ngStyle]="{'display': isComplete? 'block': 'none'}" #completeBoard></div>
    </div>
    <div class="comment-overlay" #commentBoard></div>
  </div>
  <app-message-box></app-message-box>
</div>

