:host{
  width: 100%;
  height: 100%;
  .tipsBar {
    display: flex;
    max-width: 1380px;
    margin: 0 auto;
    padding: 20px 30px;
    align-items: center;
    box-sizing: border-box;
    .tips {
      font-weight: bold;
      margin-right: 5px;
    }
    .new-whisper {
      width: 160px;
      height: 40px;
      background-color: #4184c5;
      border-radius: 5px;
      font-size: 16px;
      margin-left: auto;
      color: white;
      border: 0;
      cursor: pointer;
      &:hover {
        background-color: #4174bb;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1380px;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    .comment-container {
      position: relative;
      width: 54vw;
      height: 36vw;
      overflow: hidden;
      box-sizing: border-box;
      .typewriter {
        position: relative;
        width: 100%;
        height: 100%;
        font-family: Courier, monospace;
        overflow: hidden;
        display: flex;
        line-height: 45px;
        background: black;
        .typewriter-text {
          position: absolute;
          top: 100px;
          margin-left: 120px;
          display: block;
          overflow: hidden;
          letter-spacing: 2px;
          animation: typing 8s steps(30, end),
          blink 500ms steps(40) infinite normal;
          border-right:  2px solid snow;
          white-space: nowrap;
          font-size: 30px;
          font-weight: 700;
          box-sizing: border-box;
          color: white;
        }
        .complete-text {
          margin: 100px auto 0 auto ;
          font-size: 24px;
          font-weight: 600;
          color: #ccc;
          animation: showLetter 1s;
        }
      }


      .comment-overlay {
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        .cmt {
          font-size: 3em;
          color: limegreen;
          position: absolute;
          width: 100%;
          height: 100%;
          top:60px;
          margin: 0;
          line-height: 50px;
          text-align: center;
          transform:translateX(100%);
          animation: cmtPath 15s linear infinite;
        }
        .cmt[color='yellow']{
          color: #EDBF47;
        }
        .cmt[color='green']{
          color: #6FC190;
        }
        .cmt[color='red']{
          color: #E16C6C;
        }
        .cmt[color='orange']{
          color: #EC774B;
        }
        .cmt[color='purple']{
          color: #C389CE;
        }
        .cmt[color='blue']{
          color: #74CEE4;
        }
      }
    }

  }
  @media (max-width: 1250px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .comment-container {
        .comment-overlay {
          .cmt {
            font-size: 24px;
          }
        }
        width:calc(100vw - 280px);
        height: calc((100vw - 280px) * 9 / 16);
        .typewriter {
          line-height: 20px;
          .typewriter-text {
            margin-left: 60px;
            font-size: 16px;
            top: 15%;
            left: 40px;
          }
        }
      }
    }
  }
  @media (max-width: 720px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .comment-container {
        width:calc(100vw - 110px);
        height: calc((100vw - 110px) * 9 / 16);
        .comment-overlay {
          .cmt {
            font-size: 16px;
          }
        }
        .typewriter {
          line-height: 12px;
          .typewriter-text{
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.5px;
            top: 30%;
            left: 15px;
            margin: 0 auto;
          }
          .complete-text {
            margin: 20px auto;
            font-size: 14px;
            font-weight: 600;
            color: #ccc;
            animation: showLetter 1s;
          }
        }
      }
    }
  }


}
@keyframes cmtPath {
  0%   {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes typing {
  0%{
    width: 0;
  }
  60% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  90% {
    width: 0;
  }
}

@keyframes blink {
  from {
    border: 0;
  }
  to {
    border: 2px;
  }
}

@keyframes showLetter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 720px) {
  .container {
    .route-btn {
      display: none;
    }
    padding-bottom: 110px;
  }
}

