<div class="container">
  <div class="thumbnail-group">
    <div class="thumbnail-imc">
      <img [attr.src]="coverImage" alt="">
    </div>
    <div class="thumbnail-description">
      <div class="thumbnail-title">{{musicName}}</div>
      <div class="thumbnail-text">{{ artistName}}</div>
    </div>
  </div>
  <div class="panel-group">
    <div class="mobile-description">
      <div class="mobile-title">{{musicName}}</div>
      <div class="mobile-text">{{ artistName}}</div>
    </div>
    <div class="music-panel">
      <fa-icon [icon]="faBackward" (click)="handleNext(-1)" ></fa-icon>
      <fa-icon *ngIf="!(this.audioControlService.isPlaying$ | async)" [icon]="faPlay" (click)="play()"></fa-icon>
      <fa-icon *ngIf="(this.audioControlService.isPlaying$ | async)" [icon]="faPause" (click)="pause()"></fa-icon>
      <fa-icon [icon]="faStop" (click)="stop()"></fa-icon>
      <fa-icon [icon]="faForward" (click)="handleNext(1)"></fa-icon>
    </div>
    <div class="time-panel">
      <div class="current-time">{{currentMin}}:{{currentSec}}</div>
      <mat-slider [min] = 0 [max] = 100 [value]="songPercentage" [step]="1" (change)="slideTime($event)"></mat-slider>
      <div class="sum-time">{{durationMin}}:{{durationSec}}</div>
    </div>
  </div>
  <div class="volume-panel">
    <fa-icon [icon]="faVolumeUp"></fa-icon>
    <mat-slider [min] = 0 [max] = 100 [value]="volume" [step]="1" (change)="slideVolume($event)"></mat-slider>
  </div>
</div>
<youtube-player style="display: none" [videoId]="videoId" (ready)="initVideo($event)" (stateChange)="handleVideo($event)"></youtube-player>
