.container {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  .panel-group {
    max-width: 720px;
    width: 70%;
    .music-panel {
      display: flex;
      align-items: end;
      justify-content: center;
      & > * {
        padding: 15px 15px 0 15px;
        color: white;
        cursor: pointer;
      }
    }
    .time-panel {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      * {
        padding: 10px;
      }
      mat-slider {
        width: 100%;
        &.mat-slider.mat-accent.mat-slider-horizontal::ng-deep {
          .mat-slider-thumb {
            visibility: hidden;
            background-color: greenyellow;
          }
          .mat-slider-track-fill {
            background-color: greenyellow;
          }
        }
      }

      mat-slider:hover {
        &.mat-slider.mat-accent.mat-slider-horizontal::ng-deep {
          .mat-slider-thumb {
            visibility: visible;
            background-color: greenyellow;
          }
        }
        &.mat-slider.mat-accent.mat-slider-horizontal.mat-slider-min-value::ng-deep {
          .mat-slider-thumb {
            transform: scale(.6);
            background-color: #555555;
          }
        }
        &.mat-slider.mat-accent.mat-slider-horizontal.cdk-focused.cdk-mouse-focused::ng-deep {
          .mat-slider-thumb {
            transform: scale(.7);
            background-color: greenyellow;
          }
          .mat-slider-track-fill {
            background-color: greenyellow;
          }
        }
        &.mat-slider.mat-accent.mat-slider-horizontal.cdk-focused::ng-deep {
          .mat-slider-track-fill {
            background-color: greenyellow;
          }
        }
      }
    }
  }
  .volume-panel {
    width: 200px;
    display: flex;
    align-items: center;
    padding-right: 24px;
    mat-slider {
      width: 100%;
      &.mat-slider.mat-accent.mat-slider-horizontal::ng-deep {
        .mat-slider-thumb {
          background-color: #555555;
          transform: scale(.4);
        }
        .mat-slider-track-fill {
          background-color: deepskyblue;
        }
      }
    }

    mat-slider:hover {
      &.mat-slider.mat-accent.mat-slider-horizontal::ng-deep {
        .mat-slider-thumb {
          visibility: visible;
          background-color: #555555;
        }
      }
      &.mat-slider.mat-accent.mat-slider-horizontal.mat-slider-min-value::ng-deep {
        .mat-slider-thumb {
          transform: scale(.4);
          background-color: #555555;
        }
      }
      &.mat-slider.mat-accent.mat-slider-horizontal.cdk-focused.cdk-mouse-focused::ng-deep {
        .mat-slider-thumb {
          transform: scale(.5);
          background-color: #555555;
        }
        .mat-slider-track-fill {
          background-color: deepskyblue;
        }
      }
      &.mat-slider.mat-accent.mat-slider-horizontal.cdk-focused::ng-deep {
        .mat-slider-track-fill {
          background-color: deepskyblue;
        }
      }
    }
  }
  .thumbnail-group {
    display: flex;
    align-items: center;
    .thumbnail-imc {
      width: 56px;
      height: 56px;
      padding: 10px;
      img {
        width: 56px;
        height: 56px;
      }
    }
    .thumbnail-description {
      display: flex;
      flex-direction: column;
      .thumbnail-title {
        font-size: 14px;
      }
      .thumbnail-text {
        font-size: 12px;
      }
    }
  }



}
