<div class="container">
  <div class="thumbnail-group">
    <div class="thumbnail-imc"></div>
    <div class="thumbnail-description">
      <div class="thumbnail-title">Owen</div>
      <div class="thumbnail-text">Sing the song</div>
    </div>
  </div>
  <div class="panel-group">
    <div class="music-panel">
      <fa-icon *ngIf="!(this.audioControlService.isPlaying$ | async)" [icon]="faPlay" (click)="play()"></fa-icon>
      <fa-icon *ngIf="(this.audioControlService.isPlaying$ | async)" [icon]="faPause" (click)="pause()"></fa-icon>
      <fa-icon [icon]="faStop" (click)="stop()"></fa-icon>
    </div>
    <div class="time-panel">
      <div class="current-time">{{currentMin}}:{{currentSec}}</div>
      <mat-slider [min] = 0 [max] = 100 [value]="songPercentage" [step]="1" (change)="slideTime($event)"></mat-slider>
      <div class="sum-time">{{durationMin}}:{{durationSec}}</div>
    </div>
  </div>
  <div></div>
</div>

