.container {
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: #282828;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 4fr;
  align-items: center;
  box-sizing: border-box;
  &.even {
    background-color: #121212;
  }
  & > * {
    padding: 0 10px;
    box-sizing: border-box;
  }
  .text {
    position: relative;
    .album-image {
      position: fixed;
      display: none;
      z-index: 99;
      &.active {
        display: block;
      }
    }
  }


}
