.typewriter {
  font-family: Courier, monospace;
  display: block;
}

.typewriter-text {
  display: block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end);
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  box-sizing: border-box;
  color: white;
}

@keyframes typing {
  from {
    width: 0%
  }
  to {
    width: 100%
  }
}

@keyframes blink {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: snow;
  }
}
