<div class="container">
  <div class="header">
    <div class="title">Create Whisper</div>
    <fa-icon [icon]="faTimes"  size="2x" (click)="closePopup()"></fa-icon>
  </div>
  <div [ngSwitch]="stepList[step]">
    <ng-template [ngSwitchCase]="'step1'">
      <div class="step1">
        <p>Whom do you want to talk to?</p>
        <div class="group-item">
          <label for="userName">Your Name</label>
          <input type="text" id="userName" [(ngModel)]="userName">
        </div>
        <div class="group-item">
          <label for="whisperName">Receiver Name</label>
          <input type="text" id="whisperName" [(ngModel)]="whisperName">
        </div>
      </div>

    </ng-template>
    <ng-template [ngSwitchCase]="'step2'">
      <div class="step2">
        <div class="search-bar">
          <fa-icon [icon]="faSearch"></fa-icon>
          <input type="text" id="audioName" (input)="searchSong($event)" placeholder="Search Song">
        </div>
        <div class="audio-list">
          <app-whisper-music-card
            *ngFor="let item of audioList;
            let i = index" [musicData] = item [index]="i"
            (setMusic)="setMusic($event)"
            [isChoose]="i===chooseIndex"
          ></app-whisper-music-card>
        </div>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="'step3'">
      <div class="step3">
        <div class="story-title"></div>
        <textarea [placeholder]="areaPlaceholder" [(ngModel)]="storyText"></textarea>
      </div>
    </ng-template>
  </div>
  <div class="btn-group">-->
    <button class="cancel-btn" (click)="previousPage()">Previous</button>
    <button class="ok-btn" (click)="nextPage()">{{okBtn}}</button>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
