<div class="container">
  <div class="header">
    <div class="title">Create Whisper</div>
    <fa-icon [icon]="faTimes"  size="2x" (click)="closePopup()"></fa-icon>
  </div>
  <form [formGroup]="whisperForm">
    <div class="whisper-group">
      <label for="recipient">Recipient</label>
      <input type="text" id=recipient name="recipient" formControlName="name">
      <label for="song">Song(Youtube Video ID)</label>
      <input type="text" id="song" formControlName="song">
      <label for="startTime">Start Time(default: 0 sec)</label>
      <input type="text" id="startTime" formControlName="startTime">
      <label for="sentence">What you want say</label>
      <textarea name="" id="sentence" cols="30" rows="10" formControlName="sentence"></textarea>
    </div>
    <div class="btn-group">
      <button class="cancel-btn" (click)="closePopup()">Cancel</button>
      <button class="ok-btn" (click)="createWhisper(whisperForm.value)">Create</button>
    </div>
  </form>
</div>
