.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  app-category-card {
    margin: 30px;
    width: 15%;
    box-sizing: border-box;
  }
}
.container {
  &.search {
    align-items: center;
    justify-content: center;
  }
  .not-found { margin: 150px auto}
  .main-group {
    padding-bottom: 50px;
    display: flex;
    width: 95%;
    .top-result-group{
      padding-right: 50px;
      cursor: pointer;
      width: 40%;
      img {
        display: block;
        width: 50%;
        max-width: 240px;
        max-height: 240px;
        border-radius: 30px;
      }
      .top-title {
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 30px;
      }
      .top-result {
        width: 100%;
        max-width: 430px;
        max-height: 240px;
        background: #222;
        border-radius: 30px;
        display: flex;
        .detail-group {
          width: calc(100% - 240px);
          padding-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: column;
          .top-result-title {
            font-size: 22px;
            padding-bottom: 10px;
          }
        }
      }
    }
    .songs-group {
      width: 60%;
      padding-left: 30px;
      box-sizing: border-box;
      .songs-title {
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 30px;
      }
      .song-group-container {
        height: 240px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          background: #282828;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: #555555;
          border-radius: 5px;
        }
      }
    }
  }
  .playlist-group {
    width: 95%;
    .group-title {
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 30px;
    }
    .playlist-container {
      display: flex;
      flex-wrap: wrap;
    }

  }
}
@media (max-width: 1360px) {
  .container.search {
    .main-group {
      display: flex;
      flex-direction: column;
      .top-result-group{
        width: 100%;
        padding-left: 15px;
        padding-right: 10px;
        box-sizing: border-box;
        .top-title {
          padding-top: 20px;
          padding-bottom: 15px;
        }
      }
      .songs-group {
        width: 100%;
        padding-left: 15px;

        .songs-title {
          padding-top: 20px;
          padding-bottom: 15px;
        }
      }
    }
    .playlist-group {
      .group-title{
        padding: 20px 0 15px 15px;
      }
    }
  }
}
