<!--<app-header></app-header>-->
<!--<h1></h1>-->
<!--<div class="container">-->
<!--  <app-category-card *ngFor="let item of moodList; let i = index" [data]="item" [index]="i"></app-category-card>-->
<!--</div>-->
<!--<ng-template>-->
  <div class="container">
    <div class="main-group">
      <div class="top-result-group">
        <div class="top-title">Top Result</div>
        <div class="top-result">
          <img src="#" alt="">
          <div class="detail-group">
            <div class="top-result-title">Trash Car</div>
            <div class="top-result-artist">May day</div>
          </div>
        </div>
      </div>
      <div class="songs-group">
        <div class="songs-title">Songs</div>
        <div class="song-group-container">
          <app-search-result-card></app-search-result-card>
          <app-search-result-card></app-search-result-card>
          <app-search-result-card></app-search-result-card>
          <app-search-result-card></app-search-result-card>
        </div>
      </div>
    </div>
    <div class="playlist-group">
      <div class="group-title">Playlist</div>
      <div class="playlist-container">
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
        <app-search-playlist-card></app-search-playlist-card>
      </div>
    </div>
  </div>
<!--</ng-template>-->
