
* {
  margin: 0;
  padding: 0;
  color: #666;
  font-family: proxima-nova-soft, sans-serif;
  font-style: normal;
  font-weight: 100;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.whisperOverlay {
  mat-dialog-container {
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
  }

}
